* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 2rem; }

.header {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: url("/img/background.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat; }

.navigation {
  display: flex;
  justify-content: flex-end;
  flex-basis: 8%; }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style-type: none; }
    .navigation__list__element {
      margin-right: 5rem; }

.main {
  flex-grow: 2;
  display: flex;
  align-items: center; }

.main__text {
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
  margin-left: 12rem;
  margin-bottom: 5rem; }

.navigation__list__element__link {
  text-decoration: none;
  color: black; }
