* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 2rem; }

.header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat; }

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  align-self: center;
  height: 7%;
  width: 90%;
  border-bottom: solid 2px #c1c1c1; }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style-type: none; }
    .navigation__list__element {
      margin-right: 5rem; }
      .navigation__list__element:first-child {
        border: solid 2px #c1c1c1;
        padding: 0.6rem 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }

.main {
  display: flex;
  flex-direction: column;
  margin-left: 12rem; }
  .main__btn {
    opacity: 0;
    width: fit-content;
    margin-top: 5rem;
    align-self: center;
    padding: 1rem 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: popup 1s ease-out 6s;
    animation-fill-mode: forwards; }

.main__text {
  opacity: 0;
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
  font-size: 5.4rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid; }
  .main__text--1 {
    animation: typing 2s steps(22), blink 0.5s step-end 3 alternate;
    animation-fill-mode: forwards; }
  .main__text--2 {
    animation: typing 2s steps(22), blink 0.5s step-end 3 alternate;
    animation-delay: 3s;
    animation-fill-mode: forwards; }

.main__btn {
  text-decoration: none;
  color: #000;
  border: solid 2px #000;
  border-radius: 10px; }

.navigation__list__element__link {
  text-decoration: none;
  color: #000; }

@keyframes typing {
  from {
    opacity: 1;
    width: 0; }
  99% {
    border-right: 3px solid; }
  to {
    opacity: 1;
    width: 100%;
    border: none; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.7); }
  90% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }
