$color-grey-1: #c1c1c1;

$color-black-1: #000;
$color-white-1: #fff;
$color-white-2: #fffef7;

$color-primary-1: #0e1212;
$color-primary-2: #10a5f5;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 2rem;

	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}
}

// canvas {
// 	// background-color: #310e68;
// 	// background-image: linear-gradient(to top right, #212f45 0%, #1b3a4b 74%);
// }
