// .header {
// 	display: flex;
// 	position: absolute;
// 	top: 0;
// 	height: 110vh;
// 	width: 100vw;
// 	flex-direction: column;
// 	align-items: flex-start;
// 	overflow: hidden;

// 	justify-content: center;
// 	background-blend-mode: darken;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// }

// .navigation {
// 	display: flex;
// 	// position: fixed;
// 	position: absolute;
// 	top: 0;
// 	justify-content: flex-end;
// 	// background-color: $color-primary-1;
// 	align-self: center;
// 	width: 100%;
// 	padding: 0.9rem 0;
// 	z-index: 3;
// 	// background-color: whitesmoke;
// 	// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// 	&__list {
// 		display: flex;
// 		align-items: center;
// 		list-style-type: none;

// 		&__element {
// 			margin-right: 5rem;

// 			&:first-child {
// 				border: solid 2px #e9c46a;
// 				padding: 0.6rem 1rem;
// 				border-radius: 1rem;
// 				box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
// 				transition: transform 0.2s;

// 				&:hover {
// 					transform: scale(1.1);
// 					cursor: pointer;
// 				}
// 			}
// 		}
// 	}
// }

.header {
	display: flex;
	height: 110vh;

	width: 100%;
	overflow: hidden;

	background-color: #ee8e6b;
	background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);

	&__landing-page {
		&--1 {
			width: 20%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			z-index: 10;

			&__navigation {
				display: flex;
				height: 55%;
				width: 80%;
				margin-bottom: 10rem;
				margin-left: 5rem;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

				&__link {
					text-decoration: none;
				}
			}
		}

		&--2 {
			width: 80%;
			display: flex;
			align-items: flex-start;
			margin-top: 5rem;

			&__container {
				height: 90vh;
				width: 85%;
				background-color: #c7cedb;
				border-radius: 2rem;
			}

			&__text {
				height: 40%;
				margin-bottom: 10rem;
				padding: 8rem 10rem;
				border-radius: 1rem;
			}
		}
	}
}

.headline {
	margin-left: 30%;
	display: flex;
	flex-direction: column;

	&__btn {
		// opacity: 0;
		opacity: 1;
		width: auto;
		margin-top: 3rem;
		padding: 1rem 2.5rem;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		// animation: popup 1.5s ease-in 7s;
		animation-fill-mode: forwards;
		transition: transform 0.2s;

		&__link {
			width: fit-content;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
}

.center {
	display: flex;
	width: 100%;
	justify-content: space-between;

	z-index: 1000;
}

.contacts-side {
	display: flex;
	right: 1rem;
	flex-direction: column;
	align-self: center;
	justify-self: flex-end;
	margin-right: 1rem;

	z-index: 1;

	&__logo {
		width: 3.5rem;
		margin-bottom: 0.5rem;
	}
}

.main {
	z-index: 3;
}

.about-me {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 92rem;
	clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
	// background-color: $color-primary-2;

	position: relative;
	top: -6.5rem;
	z-index: 2;

	&__text {
		background-image: linear-gradient(#141821, $color-primary-1);
		border-radius: 0.5rem;
		width: 52%;
		margin-left: 5rem;
		flex-direction: column;
		align-items: center;

		margin-top: 20rem;
	}
}

.projects {
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	height: 102.5rem;
	background-image: linear-gradient(#141821, $color-primary-1);
	// background-image: linear-gradient(to top right, #212f45 0%, #1b3a4b 74%);

	top: -12.5rem;

	&::after {
		content: '';
		display: block;
		z-index: -1;
		left: 0;
		height: 115rem;
		width: 100%;
		position: absolute;
		left: 0;
		background-color: $color-primary-1;
	}

	&__headline {
		margin-top: 15rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__2 {
			margin-top: 3rem;
		}
	}

	&__cards {
		margin-top: 10rem;
		flex-grow: 2;
		display: flex;
		justify-content: space-around;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 55rem;
		width: 30%;
		background-color: $color-grey-1;
		border-radius: 1rem;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		padding: 4rem 2rem;
		transition: all 1s;

		&:hover {
			transform: scale(1.05);
		}

		&__name {
			height: 20%;
		}

		&__description {
			height: 80%;
		}

		&__1 {
			background-image: linear-gradient(to bottom right, #fe5f75, #fc9842);
		}

		&__2 {
			background-image: linear-gradient(to bottom right, #667eea, #764ba2);
		}

		&__3 {
			background-image: linear-gradient(to bottom right, #b91372, #6b0f1a);
		}

		&__link {
			text-decoration: none;
			border: 1px solid $color-white-1;
			padding: 2rem 3rem;
			border-radius: 1rem;
			transition: transform 0.7s;
			margin-bottom: 2rem;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 45rem;
	background-image: linear-gradient(to bottom, $color-primary-1, #141821);

	&__text {
		&__message {
			margin-top: 10rem;
		}
	}
}
