.header {
	display: flex;
	height: 120rem;
	flex-direction: column;

	// background: url('/img/background.jpg');
	// filter: blur(1px);
	background-blend-mode: darken;
	background-size: cover;
	background-repeat: no-repeat;
}

.navigation {
	display: flex;
	position: fixed;
	top: 0;
	justify-content: flex-end;
	align-self: center;
	height: 7%;
	width: 90%;
	border-bottom: solid 2px $color-grey-1;

	&__list {
		display: flex;
		align-items: center;
		list-style-type: none;

		&__element {
			&:first-child {
				border: solid 2px $color-grey-1;
				padding: 0.6rem 1rem;
				border-radius: 1rem;
				color: $color-grey-1;
			}
			margin-right: 5rem;
		}
	}
}

.main {
	flex-grow: 2;
	display: flex;
	align-items: center;
}
