// .headline {
// 	&__text {
// 		// opacity: 0;
// 		opacity: 1;
// 		font-family: 'Catamaran', sans-serif;
// 		font-weight: 700;
// 		font-size: 5.4rem;
// 		white-space: nowrap;
// 		overflow: hidden;
// 		// border-right: 3px solid;
// 		color: $color-white-1;

// 		&--1 {
// 			// animation: reveal 1.5s;
// 			animation-delay: 2s;
// 			animation-fill-mode: forwards;
// 		}

// 		&--2 {
// 			// animation: reveal 2s;
// 			animation-delay: 4.5s;

// 			animation-fill-mode: forwards;
// 		}
// 	}

// 	&__btn {
// 		border: solid 2px #e9c46a;
// 		border-radius: 10px;

// 		&__link {
// 			text-decoration: none;
// 			color: $color-white-1;
// 		}
// 	}
// }

// .navigation {
// 	font-size: 1.8rem;

// 	&__list__element__link {
// 		text-decoration: none;
// 		color: #faedf0;
// 	}
// }

.header {
	&__landing-page {
		&--1 {
			&__navigation {
				&__link {
					font-family: 'Montserrat', sans-serif;
					font-size: 2.5rem;
					font-weight: 300;
					color: $color-white-1;
				}
			}
		}

		&--2 {
			display: flex;
			justify-content: center;
			text-align: right;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
			line-height: 6rem;
			color: #e1e1e1;
			font-size: 5rem;

			&__btn {
				color: #e1e1e1;
				font-size: 2rem;
				font-weight: 300;
			}
		}
	}
}

.about-me {
	&__text {
		padding: 3rem;
		color: $color-white-1;
		line-height: 2.5rem;
		z-index: 2;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;

		&__cover {
			padding: 0 0rem 6rem;
			font-size: 3.5rem;
		}

		&__message {
			font-size: 2rem;
		}
	}
}

.projects {
	&__headline {
		color: $color-white-1;

		&__1 {
			font-size: 4rem;
		}

		&__2 {
			font-size: 2.5rem;
			font-family: 'Montserrat', sans-serif;
			font-weight: 300;
		}
	}

	&__cards {
		text-align: center;
		color: $color-white-1;
	}

	&__card {
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;

		&__name {
			font-size: 3.5rem;
		}

		&__description {
			font-size: 2.2rem;
		}

		&__link {
			color: $color-white-1;
		}
	}
}

.contacts {
	color: $color-white-1;

	&__text {
		font-size: 2.5rem;

		&__link {
			text-decoration: none;
			color: #1fd1f9;
		}
	}
}

.mapboxgl-popup-content {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: #13171f;
	color: $color-white-1;

	&__header {
		font-size: 1.7rem;
		text-align: center;
	}

	&__description {
		font-size: 1.5rem;
		text-align: center;
	}
}
